<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <title>Spring Security Example </title>
        <link rel="stylesheet" type="text/css" href="/css/saplDemoMain.css">
    
    </head>
    <body>
        <h3>New Profile</h3>
        <form th:action="@{/profiles}" th:object="${newPatient}" method="post">
            <div><label> Name : </label><input type="text" th:field="*{name}"/> </div>
            <div><label> Diagnosis : </label><input type="text" th:field="*{diagnosis}"/> </div>
            <div><label> HRN : </label><input type="text" th:field="*{healthRecordNumber}"/> </div>
            <div><label> Phone : </label><input type="text" th:field="*{phoneNumber}"/> </div>
            <div><label> Attending Doctor : </label><input type="text" th:field="*{attendingDoctor}"/> </div>
            <div><label> Attending Nurse : </label><input type="text" th:field="*{attendingNurse}"/> </div>
            <div><label> Room Number : </label><input type="text" th:field="*{roomNumber}"/> </div>
            <div><input type="submit" value="Create"/></div>
        </form>
    </body>
</html>