<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring Security Example </title>
        <link rel="stylesheet" type="text/css" href="/css/saplDemoMain.css">
    
    </head>
    <body>
    	<h3>List of Profiles</h3>
    	<table>
    	<tr>
    		<th>ID</th>
    		<th>NAME</th>
    	</tr>
        <tr th:each="profile : ${profiles}"> 
        	<td th:text="${profile.id}"> 0</td>
        	<td><a href="patient.html" th:href="@{/patient(id=${profile.id})}" th:text="${profile.name}"> Name</a></td>
        </tr> 
        </table>

        <form th:if="${createPermission}" action="/profiles/new">
            <input type="submit" value="Create New Profile" />
        </form>
        <p></p>

        <form action="/home">
            <input type="submit" value="Back to Home" />
        </form>
    </body>
</html>