<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <title>Spring Security Example </title>
        <link rel="stylesheet" type="text/css" href="/css/saplDemoMain.css">

    </head>
    <body>
        <h3>New Profile</h3>
        <form th:action="@{/profiles}" th:object="${newPatient}" method="post">
            <div><label> Name : <input type="text" th:field="*{name}"/> </label></div>
            <div><label> Diagnosis : <input type="text" th:field="*{diagnosis}"/> </label></div>
            <div><label> HRN : <input type="text" th:field="*{healthRecordNumber}"/> </label></div>
            <div><label> Phone : <input type="text" th:field="*{phoneNumber}"/> </label></div>
            <div><label> Attending Doctor : <input type="text" th:field="*{attendingDoctor}"/> </label></div>
            <div><label> Attending Nurse : <input type="text" th:field="*{attendingNurse}"/> </label></div>
            <div><label> Room Number : <input type="text" th:field="*{roomNumber}"/> </label></div>
            <div><input type="submit" value="Create"/></div>
        </form>
    </body>
</html>
