<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
    <head>
        <title>Spring Security Example </title>
   	    <link rel="stylesheet" type="text/css" href="/css/saplDemoMain.css"> 
    </head>
    <body>
        <h3>Create a new patient</h3>
        <form id="newPatientForm" th:action="@{/patients}" th:object="${patient}" method="post">
            <div><label> Medical record number: <input type="text" th:field="*{medicalRecordNumber}"/></label></div>
            <div><label> Name : <input type="text" th:field="*{name}"/></label></div>
            <div><label> ICD 11 Code : <input type="text" th:field="*{icd11Code}"/></label></div>
            <div><label> Diagnosis : <input type="text" th:field="*{diagnosisText}"/></label></div>
            <div><label> Attending Doctor : <input type="text" th:field="*{attendingDoctor}"/></label></div>
            <div><label> Attending Nurse : <input type="text" th:field="*{attendingNurse}"/></label></div>
            <div><label> Phone : <input type="text" th:field="*{phoneNumber}"/></label></div>
            <div><label> Room Number : <input type="text" th:field="*{roomNumber}"/></label></div>
            <div><input type="submit" value="Create"/></div>
        </form>        

        <form action="/">
			<input type="submit" value="Back to Home" />
		</form>
        
    </body>
</html>
