<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags">

<head>
<title>Patient Record</title>
<link rel="stylesheet" type="text/css" href="/css/saplDemoMain.css">
</head>
<body>
	<h3 th:text="${patient.name}">Heading</h3>
	<div th:object="${patient}">
		<p th:if="${patient.medicalRecordNumber != null}">
			Medical Record Number: <span th:text="*{medicalRecordNumber}"></span>
		</p>

		<p>
			Name: <span th:text="*{name}"></span>
		</p>

		<p th:if="${patient.icd11Code != null}">
			IDC11: <span th:text="*{icd11Code}"></span>
		</p>

		<p th:if="${patient.diagnosisText != null}">
			Diagnosis: <span th:text="*{diagnosisText}"></span>
		</p>

		<p th:if="${patient.attendingDoctor != null}">
			Attending Doctor: <span th:text="*{attendingDoctor}"></span>
		</p>

		<p th:if="${patient.attendingNurse != null}">
			Attending Nurse: <span th:text="*{attendingNurse}"></span>
		</p>

		<p th:if="${patient.phoneNumber != null}">
			Phone: <span th:text="*{phoneNumber}"></span>
		</p>

		<p th:if="${patient.roomNumber != null}">
			Room: <span th:text="*{roomNumber}"></span>
		</p>
	</div>


	<form th:if="${permittedToUseDeletePatientButton}"
		th:action="@{'/patients/'+ ${patient.id}}" th:method="delete">
		<button type="submit">Delete Patient Record</button>
	</form>
	<p></p>

	<form th:if="${permittedToUseUpdatePatientButton}"
		th:action="@{/patients/{id}/update(id=${patient.id})}">
		<button type="submit">Update Patient Record</button>
	</form>
	<p></p>

	<form action="/">
		<input type="submit" value="Back to Home" />
	</form>

</body>
</html>