<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Patients - SAPL Spring Security Demo</title>
   	    <link rel="stylesheet" type="text/css" href="/css/saplDemoMain.css"> 
    </head>
    <body>
    	<h3>List of Patients</h3>
    	<table>
            <tr>
                <th>ID</th>
                <th>NAME</th>
            </tr>
            <tr th:each="patient : ${patients}">
                <td th:text="${patient.id}"> 0</td>
                <td><a href="patient.html" th:href="@{'/patients/' + ${patient.id}}" th:text="${patient.name}"> Name</a></td>
            </tr>
        </table>

        <form th:if="${permittedToUseCreatePatientButton}" action="/patients/new">
            <input type="submit" value="Register new patient..." />
        </form>
        <p></p>

        <form action="/">
            <input type="submit" value="Home" />
        </form>
    </body>
</html>
