# Build output
target/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/
.factorypath
.apt_generated/
.metadata/
**/bin/

# VS Code
.vscode/

# IDE plugins
.sonarlint/
**/.springBeans

# Vaadin
**/dev-bundle/
**/node_modules/
**/VAADIN/widgetsets/
**/VAADIN/themes/**/addons.scss
**/VAADIN/themes/**/styles.css
**/.vaadin-node-tasks.lock
package.json
package-lock.json
node_modules/

# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar
