<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employees</title>
    <script>
        function submitForm() {
            const form = document.getElementById('moveForm');
            const formData = new FormData(form);

            fetch('/app/move', {
                method: 'POST',
                body: formData
            })
            .then(response => response.text())
            .then(data => {
                document.getElementById('responseMessage').innerText = data;
            })
            .catch(error => {
                document.getElementById('responseMessage').innerText = 'An error occurred: ' + error;
            });
        }
    </script>
</head>
<body>
	<p>Employee</p>
    <h1 th:text="${message}">Default Result Message</h1>
    <form id="moveForm" onsubmit="event.preventDefault(); submitForm();">
        <input type="hidden" name="name" th:value="${name}" />
        <button type="submit">Move</button>
    </form>
    
    <div id="responseMessage"></div>
     
</body>
</html>