<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Beispiel</title>
    </head>
    <body>
        <h1>Error!</h1>
        <h4>Maybe you are not authorized to perform this action!</h4>
		 <!--<h1 th:inline="text">User: [[${#httpServletRequest.remoteUser}]]!</h1>-->
         <p>
          <form action="/home">
             <input type="submit" value="Back to Home" />
          </form>
        	<!-- Logged user: <div th:text="${#authentication.principal}"></div>
			<br/>
			Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span> -->
        </p>
        <!--<p>TBD.</p>-->
    </body>
</html>