<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.springframework.org/security/tags">
     
      
    <head>
        <title>Spring Security Example </title>
    </head>
    <body>
    	<h3 th:text="${patient.name}">Heading</h3>
    	<div th:object="${patient}">
    		<p>ID: <span th:text="*{id}">text</span></p>
    		<p>Name: <span th:text="*{name}">text</span></p>

    		<p>Phone: <span th:text="*{phoneNumber}">text</span></p>
    		
    		<p>Attending Doctor: <span th:text="*{attendingDoctor}">text</span></p>
    		
    		<p>Attending Nurse: <span th:text="*{attendingNurse}">text</span></p>
    		
    		<p th:if="${viewRoomNumberPermission}" >
				Room Number: <span th:text="*{roomNumber}">text</span></p>
    	</div>

		<form action="/home">
			<input type="submit" value="Back to Home" />
		</form>

    	
    </body>
</html>