<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.springframework.org/security/tags">
     
      
    <head>
        <title>Spring Security Example </title>
        <link rel="stylesheet" type="text/css" href="/css/saplDemoMain.css">
  
    </head>
    <body>
    	<h3 th:text="${patient.name}">Heading</h3>
    	
    	
    	
    	<div th:object="${patient}">
    	
    	    		<table>
    			
    		<tbody>
				<tr>
					<td>ID:</td>
					<td th:text="*{id}"></td>
				</tr>
				<tr>
					<td>Name:</td>
					<td th:text="*{name}"></td>
				</tr>
				<tr th:if="${viewDiagnosisPermission}">
					<td>Diagnosis:</td>
					<td  th:text="*{diagnosis}"></td>
				</tr>
				<tr>
					<td>Phone:</td>
					<td th:text="*{phoneNumber}"></td>
				</tr>
				<tr>
					<td>Attending Doctor:</td>
					<td  th:text="*{attendingDoctor}"></td>
				</tr>
				<tr> 
					<td>Attending Nurse:</td>
					<td th:text="*{attendingNurse}"></td>
				</tr>
				<tr th:if="${viewRoomNumberPermission}">
					<td>Room Number:</td>
					<td th:text="*{roomNumber}"></td>
				</tr>
				
			</tbody>
    		</table>

    	</div>

		<form action="/home">
			<input type="submit" value="Back to Home" />
		</form>

    	
    </body>
</html>