<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" type="text/css" href="/css/saplDemoMain.css">
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form id="loginForm" th:action="@{/login}" method="post">
    <div><label for="username"> User: </label><input type="text" placeholder="your username" id="username" name="username"/> </div>
    <div><label for="password"> Password: </label><input type="password" placeholder="password" id="password" name="password"/> </div>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>