<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
    <head>
        <title>Spring Security Example </title>
    </head>
    <body>
        <h3>Update Profile</h3>
        <form th:action="@{/patient}" th:object="${updatePatient}" th:method="put">
            <div><label> ID : <input type="text" readonly="readonly" th:name="id" th:id="id" th:field= "*{id}"/> </label></div>
            <div><label> Name : <input type="text" th:name="name" th:id="name" th:field="*{name}"/> </label></div>
            <div th:if="${updateDiagnosisPermission}">
                <label> Diagnosis : <input type="text" th:name="diagnosis" th:id="diagnosis" th:field="*{diagnosis}"/> </label>
            </div>
            <div th:if="${updateHRNPermission}" >
                <label> HRN : <input type="text" th:name="healthRecordNumber" th:id="healthRecordNumber" th:field="*{healthRecordNumber}"/> </label>
            </div>
            <div><label> Phone : <input type="text" th:name="phoneNumber" th:id="phoneNumber" th:field="*{phoneNumber}"/> </label></div>
            <div th:if="${updateDoctorPermission}" >
                <label> Attending Doctor : <input type="text" th:name="attendingDoctor" th:id="attendingDoctor" th:field="*{attendingDoctor}"/> </label>
            </div>
            <div th:if="${updateNursePermission}" >
                <label> Attending Nurse : <input type="text" th:name="attendingNurse" th:id="attendingNurse" th:field="*{attendingNurse}"/> </label>
            </div>
            <div><input type="submit" value="Update"/></div>
        </form>
        <p></p>
        <form action="/home">
            <input type="submit" value="Back to Home" />
        </form>
    </body>
</html>