<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- Property Configuration -->
	<property name="default_encoder_pattern"
			  value="[%-5level] %d [%t] [%c{35}] [%mdc{x-messageid}] - %m%n"/>

	<!-- Console Appender -->
	<appender name="CL" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>${default_encoder_pattern}</Pattern>
		</encoder>
	</appender>

	<!-- Root Logger -->
	<root level="WARN">
		<appender-ref ref="CL"/>
	</root>

	<logger name="io.sapl" level="WARN"/>
	<logger name="org.springframework" level="OFF"/>
	<logger name="org.hibernate" level="WARN"/>
</configuration>