header nav a:any-link {
  text-decoration: none;
  padding: 0 var(--lumo-space-s);
  border-radius: var(--lumo-border-radius-m);
  outline: 0;
}

header nav a:hover {
  color: var(--lumo-header-text-color);
}

header nav a:active {
  background-color: var(--lumo-contrast-5pct);
}

header nav a:focus-visible {
  box-shadow: 0 0 0 2px var(--lumo-primary-color-50pct);
}

header nav a[highlight] span {
  color: var(--lumo-primary-text-color);
}

header nav a[highlight] {
  background-color: var(--lumo-primary-color-10pct);
}
