<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.springframework.org/security/tags">
     
      
    <head>
        <title>Spring Security Example </title>
   	    <link rel="stylesheet" type="text/css" href="/css/saplDemoMain.css"> 
    </head>
    <body>
    	<h3 th:text="${patient.name}">Heading</h3>
    	<div th:object="${patient}">
    		<p>ID: <span th:text="*{id}">text</span></p>
    		<p>Name: <span th:text="*{name}">text</span></p>

    		<p th:if="${viewDiagnosisPermission}">
				Diagnosis: <span th:text="*{diagnosis}">text</span></p>

    		<p th:if="${viewHRNPermission}" >
				HRN: <span th:text="*{healthRecordNumber}">text</span></p>
				
			<p th:if="${permissionBlackenedHRN}">HRN(blackened): <span th:text="${blackenedHRN}">text</span></p>

    		<p>Phone: <span th:text="*{phoneNumber}">text</span></p>
    		
    		<p>Attending Doctor: <span th:text="*{attendingDoctor}">text</span></p>
    		
    		<p>Attending Nurse: <span th:text="*{attendingNurse}">text</span></p>
    		
    		<p th:if="${viewRoomNumberPermission}" >
				Room Number: <span th:text="*{roomNumber}">text</span></p>
    		
    		<div th:if="${permissionBlackenedHRN}">
				<p>Obligation: <span th:text="${obligation}">text</span>  </p>
				<button th:onclick="'alert(\'' + ${message} + '\');'">I will seriously fulfill the obligation</button>
				<p></p>
			</div>
    	</div>

    		
    	<form th:if="${deletePermission}" th:action="@{/patient(id=${patient.id})}" th:method="delete">
    		<button type= "submit">Delete Profile</button>
      	</form>
		<p></p>
		<form th:if="${updatePermission}" th:action="@{/patient/{id}/update(id=${patient.id})}" >
			<button type= "submit">Update Profile</button>
		</form>
		<p></p>
		<form action="/home">
			<input type="submit" value="Back to Home" />
		</form>

    	
    </body>
</html>