<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="en">
    <head>
        <title>Spring Security Example</title>
        <style>
			table td{
				vertical-align:top;
				border:solid 1px #888;
				padding:10px;
			}
    	</style>
    </head>
    <body>
        <h1>Error page</h1>
        <table aria-hidden="true">
            <caption>Error Summary</caption>
            <tr>
                <td>Date</td>
                <td th:text="${timestamp}"/>
            </tr>
            <tr>
                <td>Path</td>
                <td th:text="${path}"/>
            </tr>
            <tr>
                <td>Error</td>
                <td th:text="${error}"/>
            </tr>
            <tr>
                <td>Status</td>
                <td th:text="${status}"/>
            </tr>
            <tr>
                <td>Message</td>
                <td th:text="${message}"/>
            </tr>
            <tr>
                <td>Exception</td>
                <td th:text="${exception}"/>
            </tr>
            <tr>
                <td>Trace</td>
                <td><pre th:text="${trace}"/></td>
            </tr>
        </table>
        <p>
            <form action="/">
                <input type="submit" value="Back to Home" />
            </form>
        </p>
    </body>
</html>
