/target/
.idea/
.vscode/
.settings
.project
.classpath
bundles/

*.iml
.DS_Store

# The following files are generated/updated by vaadin-maven-plugin
node_modules/
frontend/generated/
src/main/frontend/generated/
src/main/frontend/index.html
src/main/bundles/
pnpmfile.js
vite.generated.ts
vite.config.ts
types.d.ts
tsconfig.json
package.json
package-lock.json
src/main/dev-bundle
